<div class="home-container">
  <app-header></app-header>
  <div class="container">
    <section class="filter">
      <mat-form-field>
        <mat-label>Género musicals</mat-label>
        <mat-select [formControl]="currentGenre">
          <mat-option [value]="0">[Todos]</mat-option>
          @for (item of genres; track $index) {
          <mat-option [value]="item.id"> {{ item.name }} </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <span>Seleccione tu género musical favorito</span>
    </section>
    <section class="event-list">
      @for (item of currentConcerts; track $index) {
      <app-event-card [data]="item"> </app-event-card>
      } @empty {
      <h1>No entramos conciertos de ese género :(</h1>
      }
    </section>
  </div>
  <app-footer></app-footer>
</div>
